@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
/* Black Han Sans */

html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.248);
}
html::-webkit-scrollbar-track {
  background-color: rgb(145, 163, 203);
}
:root {
  --gap: 60px;
  --line-height-medium: 1.76;
  font-size: 62.5%;
  --point-color: #a27b5c;
  --light-color: #11c4ff;
  --ls-10: -0.01em;
}
/* ? 임시용 */
body {
  font-size: 1.6rem;
}

@media (min-width: 1400px) {
  :root {
    --gap: 100px;
  }
  body {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  :root {
    --gap: 20px;
  }
  body {
    font-size: 1.4rem;
  }
}

header {
  padding-top: 20px;
}

@media (min-width: 1400px) {
}

a {
  text-decoration: none;
  color: inherit;
}
