@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

:root {
  --gap: 60px;
  --line-height-medium: 1.76;
  font-size: 62.5%;
  --point-color: #ff7360;
  --ls-10: -0.01em;
}

@media (min-width: 1400px) {
  :root {
    --gap: 100px;
  }
}

@media (max-width: 640px) {
  :root {
    --gap: 20px;
  }
}

header {
  padding-top: 20px;
}

/* ? 임시용 */
body {
  /* background-color: #fff5ee; */
  background-color: white;
  font-size: 1.6rem;
}

@media (min-width: 1400px) {
  body {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
